html, body, #main_container, #app_container, #sidebar, #map {
    height: 100%;
    margin: 0px;
}
body {
    background-color: #141647;
    color: white;
}
#app_container {
    display: flex;
}
#sidebar {
    width: 28%;
}
#map {
    width: 72%;
}
.leaflet-container {
    height: 100%;
    width: 100%;
}
.item {
    text-align: center;
}